body {
  background-color: rgb(255, 193, 202)
}
.jumbotron {
  background-color: rgb(116, 250, 243);
  text-align: center;
}
.jumbotron p {
  text-align: left
}
.profile {
  float: right;
  width: 30%;
  padding: 4px;
}
h1 {
  font-weight: Bold;
  color: black;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stoked {
  color: rgb(35, 211, 35);
  font-style: bold;
}
.cupcake {
  color: plum
}
.Luna {
  color: darkblue
}
.Animalshelter {
  color: darkred
}